<h1 mat-dialog-title>{{tituloAccion}} Persona</h1>
<div mat-dialog-content>{{textSubtitulo}}</div>
<div mat-dialog-content>
    <form [formGroup]="formPeople">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Id Persona</mat-label>
                    <input matInput formControlName="nmid" autocomplete="off" type="number">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Documento</mat-label>
                    <input matInput formControlName="cddocumento" autocomplete="off"> 
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="dsnombres" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="dsapellidos" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="fenacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="cdtipo">
                      <mat-option *ngFor="let item of listaTipoPersona" [value]="item.cddato">
                        {{item.cddato}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                      <mat-label>Genero</mat-label>
                      <mat-select formControlName="cdgenero">
                        <mat-option *ngFor="let item of listaSex" [value]="item.cddato">
                          {{item.cddato}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha Registro</mat-label>
                    <input matInput [matDatepicker]="picker2" formControlName="feregistro">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de baja</mat-label>
                    <input matInput [matDatepicker]="picker3" formControlName="febaja">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Code Usuario</mat-label>
                    <input matInput formControlName="cdusuario" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Direccion</mat-label>
                    <input matInput formControlName="dsdireccion" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Foto</mat-label>
                    <input matInput formControlName="dsphoto" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Telefono Fijo</mat-label>
                    <input matInput formControlName="cdtelefono_fijo" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Telefono Movil</mat-label>
                    <input matInput formControlName="cdtelefono_movil" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="dsemail" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <br>
            <br>
            <mat-grid-tile>
                  <mat-form-field appearance="outline">
                    <mat-label>Id Medico</mat-label>
                    <mat-select formControlName="nmid_medicotra">
                      <mat-option *ngFor="let item of listaDoctors" [value]="item.nmid">
                        {{item.dsnombres}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>EPS</mat-label>
                    <input matInput formControlName="dseps" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>ARL</mat-label>
                    <input matInput formControlName="dsarl" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Condicion</mat-label>
                    <input matInput formControlName="dscondicion" autocomplete="off">
                  </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" 
  (click)="addEditPeople()">
    {{botonAccion}}
  </button>
</div>