<div style="width:90%;margin:40px auto">
<h1>Lista de Pacientes</h1>
<button mat-raised-button color="primary" (click)="openDialog()">Crear Persona</button>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nmid_persona">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.nmid_persona}} </td>
    </ng-container>

    <ng-container matColumnDef="cddocumento">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"> # Documento </th>
      <td mat-cell *matCellDef="let element"> {{element.cddocumento}} </td>
    </ng-container>

    <ng-container matColumnDef="dsnombres">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"> Nombres </th>
      <td mat-cell *matCellDef="let element"> {{element.dsnombres}} </td>
    </ng-container>

    <ng-container matColumnDef="dsapellidos">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"> Apellidos </th>
      <td mat-cell *matCellDef="let element"> {{element.dsapellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="cdgenero">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"> Genero </th>
      <td mat-cell *matCellDef="let element"> {{element.cdgenero}} </td>
    </ng-container>

    <ng-container matColumnDef="dsnombresDoctor">
      <th mat-header-cell *matHeaderCellDef style="width: 10%"> Nombres Doctor </th>
      <td mat-cell *matCellDef="let element"> {{element.dsnombresDoctor}} </td>
    </ng-container>

    <ng-container matColumnDef="dseps">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> EPS </th>
      <td mat-cell *matCellDef="let element"> {{element.dseps}} </td>
    </ng-container>

    <ng-container matColumnDef="dsarl">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> ARL </th>
      <td mat-cell *matCellDef="let element"> {{element.dsarl}} </td>
    </ng-container>

    <ng-container matColumnDef="feregistro">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> Fecha Registro </th>
      <td mat-cell *matCellDef="let element"> {{element.feregistro}} </td>
    </ng-container>

    <ng-container matColumnDef="febaja">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> Fecha de Baja </th>
      <td mat-cell *matCellDef="let element"> {{element.febaja}} </td>
    </ng-container>

    <ng-container matColumnDef="cdusuario">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> Codigo Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.cdusuario}} </td>
    </ng-container>

    <ng-container matColumnDef="dscondicion">
      <th mat-header-cell *matHeaderCellDef style="width: 8%"> Condicion </th>
      <td mat-cell *matCellDef="let element"> {{element.dscondicion}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th mat-header-cell *matHeaderCellDef style="width: 30%;"> </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

</div>